@model PruebaPabloTapia.Model.Tienda

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de querer borrar esto?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
    
    <form asp-action="Borrar">
        <input type="hidden" asp-for="IdTienda" />
        <input type="submit" value="Borrar Permanentemente" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
